{% extends 'index.html' %}


{% block titulo %}
<title>Santiago Navalón</title>
{% endblock titulo %}


{% block sub_titulo %}
<h1 class="mt-4">Santiago Navalón</h1>
{% endblock sub_titulo %}






{% block campos %}

<p>Hola! Desde chico siempre me gusto interiorizarme en el mundo de la tecnología. Todo empezó cuando mi padre trajo nuestra primer compu. por los años 1995 o 96 con Windows 95!</p>
<p>Esta compu la tuvimos unos cuantos años, lo que hizo que se vuelva vieja a cómo iba avanzando la tecnología. Cuando pudimos actualizar el hardware, actualizamos a Windows 98 y ahí empezó el viaje de la investigación. Gracias a intentar mantener una compu vieja funcionando a niveles de compus con Windows Xp, aprendí a investigar y a entender cómo funciona una computadora por dentro. Cuando me di cuenta, ya tenía capacidades para arreglar computadoras.</p>
<p>Hace varios años, en mi infancia, inicie mi incursión en los juegos, con un juego argentino de código abierto llamado Argentum Online MMROPG, este juego tenía varios servidores alternativos y lo más interesante es que te podías bajar el código para poder crear tu propio servidor. Con mis capacidades de investigación y horas sentado frente al monitor, aprendí bastante de Visual Basic, el código era inmenso y para compilar con mi compu retro tardaba 5 minutos reloj.</p>
<p>Luego, al terminar el secundario, (A mis 22 años) empecé a trabajar como administrativo en el rubro de Almacenamiento y Distribución de mercadería. Con un gran manejo de compu y sólidos conocimientos de controladores de flujo, pude aplicar estas habilidades en este rubro, y así poder destacar en todos mis puestos laborales. El día de hoy soy jefe de stock, lidero equipos de trabajos e invento procesos de movimientos de mercadería e informes en Excel tan eficaces como el día el claro.</p>
<p>Empecé el curso, con intenciones de poder consolidar lo aprendido en mi entorno laboral, inventando un programa web de almacenamiento de stock basado en la operación que manejo al día de hoy. Estoy contento con el contenido del curso, me pareció muy completo contra el tiempo estipulado. Ahora solo me queda seguir aprendiendo en más ramas de este lenguaje.</p>
<p>Muchas gracias a todo el equipo de Coder!</p>
<p></p>
<p>Santiago Navalón.</p>
<p>Santiago.navalon@hotmail.com</p>






{% block youtube %}{% endblock youtube %}

{% endblock campos %}
