{% extends 'index.html' %}


{% block titulo %}
<title>Rodrigo Gimenez</title>
{% endblock titulo %}


{% block sub_titulo %}
<h1 class="mt-4">Rodrigo Gimenez</h1>
{% endblock sub_titulo %}






{% block campos %}
{% block youtube %}{% endblock youtube %}

<p>Mi nombre es Rodrigo, desde chico fui un apasionado por los video juegos y los computadores, aprendí en mi infancia algunos lenguajes de computación que actualmente están en desuso Smart Basic o Logos. </p>
	<p>Al ir avanzando la tecnología y obteniendo algunas herramientas más sofisticadas, me dedique en mi adolescencia a la realización de páginas web modificando los html “a pedal” y aprendiendo de manera autodidáctica los diferentes recursos para mejorar la estética de las mismas. A su vez empecé a realizar modificaciones “lowcost” a mi PC dado que el dinero no era mucho y los juegos cada vez requerían mayor potencia de los procesadores y tarjetas.</p>
        <p>En ese entonces, mi experticia era tal que empecé junto a mi hermano a arreglar computadores, de esa forma se podía costear alguna modificación al computador de casa y aportar algo de dinero “a la olla”. Después de terminar el liceo, me alejé un poco de la computación ya que la facultad me insumía mucho tiempo y la carrera que elegí no requería tanto tiempo frente al computador. Después de recibirme de Licenciado en Economía seguí especializándome en economía (Cada vez más lejos de la computación), actualmente estoy realizando la tesis para recibirme de Máster en Economía, concomitantemente realicé la Especialización en Ciencias de Datos. A su vez al día de hoy empecé la Maestría en Ciencias de Datos que implica Tesis y adicionarle unos cursos al diplomado de especialización. </p>
            <p>Cabe comentar que la especialización me acercó nuevamente a los Computadores, al lenguaje de programación y volver a mi primer amor. Es allí donde incursioné en lenguajes como Python, fundamentales para Data Science y que me abrieron la puerta a la programación web. Buscando cursos (mi alma inquieta siempre está haciendo algo) de Python aparece coderHouse, lugar donde me dieron mis primeras herramientas para el desarrollo web, y generaron mi nuevo objetivo, desarrollador fullStack.</p>
                <p>Pues que más decir, soy un apasionado Economista, candidato a Master en Economía, especializado en DataScience, candidatos a Master a Data Science, que desempeña actividades de Analista de Riesgo Fiscal, que actualmente volvió a su gran pasión, e incursiona en la programación web con el objetivo de llegar a ser desarrollador fullStack, un popurrí de todo.</p>
                    <p>Rodrigo</p>
                        <p>Email: rhigimenez@gmail.com</p>


{% endblock campos %}
