{% extends 'Distribucion/busqueda_transporte.html' %}



{% block titulo %}
<title>Edicion de transporte</title>
{% endblock titulo %}

{% block sub_titulo %}
<h1 class="mt-4">Edicion de transporte</h1>
{% endblock sub_titulo %}

{% block sub_titulo_2 %}
<li class="breadcrumb-item active">Edite según el campo deseado.</li>
{% endblock sub_titulo_2 %}

{% block accion %}
{% endblock accion %}
{% block informacion %}
{% endblock informacion %}

{% block campos %}
<body>
    <p>
        <form action={% url 'edite_transporte' transporte.id %} method="post">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <button>Guardar Cambios</button>
        </form>
    </p>
</body>
{% endblock campos %}