{% extends 'Distribucion/busqueda_transporte.html' %}


{% block titulo %}
<title>Eliminacion de Transportes</title>
{% endblock titulo %}

{% block sub_titulo %}
<h1 class="mt-4">Eliminacion de Transportes</h1>
{% endblock sub_titulo %}

{% block sub_titulo_2 %}
<li class="breadcrumb-item active">¡¡¡CUIDADO!!! Esta a punto de realizar una accion irreversible.</li>
{% endblock sub_titulo_2 %}

{% block link %}href={% url 'maestro' %}>{% endblock link %}
{% block link_dist %}href={% url 'distribucion' %}>{% endblock link_dist %}

{% block campos %}
{% block informacion %}
<p>
    <form action={% url 'elimine_transporte' transporte.id %} method="post">
        {% csrf_token %}
        ¿Desea eliminar el transporte?
        <button>Confirmar</button>
    </form>
</p>

{% endblock informacion %}
{% endblock campos %}