{% extends 'Muro/base.html' %}

{%block blog_titulo %}Crear Post{%endblock blog_titulo %}
{% block home %}
<li class="nav-item">
    <a class="nav-link" href={% url 'posteos' %}>Blog</a>
  </li>
{% endblock home %}

{% block blog_contenido %}
<p>
    <a href = {% url 'posteos'  %}>Volver<a/>
</p>
<body>
<p>
    <form action={%url 'postear'%} method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <table>
            {{form.media}}
            {{form.as_table}}
        </table>
    <button>Crear Post</button>
</p>

{% block youtube %}{% endblock youtube %}
{% endblock blog_contenido %}