{% extends 'index.html' %}
{% block login %}
{% endblock login %}
{% block titulo %}
<title>Perfil</title>
{% endblock titulo %}

{% block sub_titulo %}
<h1 class="mt-4">
    
    Perfil Usuario: {{request.user.username}}
</h1>
{% endblock sub_titulo %}



{% block link %}href={% url 'maestro' %}{% endblock link %}

{% block campos %}
<p>
    <a href = {% url 'maestro' %}>Volver<a/>
    <a href = {% url 'editar_perfil' %}>Editar Perfil<a/>
    <a href={% url 'cambiar_password' %}>Cambiar Password</a>
</p>
<body>
<p>
    <ul>
        <li>
Nombre: {{request.user.first_name}}
        </li>
        <li>
Apellido: {{request.user.last_name}}
        </li>
        <li>
Email: {{request.user.email}}
        </li>
<li>
    <p>Avatar:</p>
    {% if request.user.masdatosusuario.avatar %}
    <img src={{request.user.masdatosusuario.avatar.url}} alt="" height="200px">
    {% endif %}
</li>

</ul> 
</p>
</body>

{% endblock campos %}



